<h2><%= @task.title  %></h2>
<p><%= @task.details %></p>
<p><%= @task.completed %></p>
<p><%= link_to 'edit task', edit_task_path(@task) %></p>
<p><%= link_to "Delete this task", task_path(@task),
method: :delete,
data: { confirm: "Are you sure?" } %></p>
<p><%= link_to '< Back to the tasks list',
tasks_path %></p>
